@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

html{
  overflow: auto;
}
body{
  overflow: hidden;
}

.ApiAlt5pay_pay {
  width: 100vw;
  transform: translateX(-50%);
  margin-left: 50%;
  display: flex;
  flex-wrap: wrap;
}
.ApiAlt5pay_pay * {
  box-sizing: border-box;
}
.ApiAlt5pay_pay h1 {
  padding: 15px;
  padding-top: 32px;
  padding-bottom: 20px;
  color: #1b1b1b;
  font-size: 3.75rem;
  width: 100%;
  margin: 0;
  text-align: center;
  background: #e6e6e6;
}
.ApiAlt5pay_pay .col50 {
  width: 100%;
  padding: 15px;    
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .ApiAlt5pay_pay .col50 {
    width: 50%;
  }
}
.ApiAlt5pay_pay .col1 {
  background-color: #fff;
  text-align: center;
}
.ApiAlt5pay_pay p {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.ApiAlt5pay_pay a {
  color: #4d82ff;
  font-size: 20px;
}
.ApiAlt5pay_pay p {
  color: #7d7d7d;
  font-size: 20px;
}
.ApiAlt5pay_pay h2 {
  color: #232323;
  font-size: 36px;
}
.ApiAlt5pay_pay .flex {
  display: flex;
  flex-wrap: wrap;
}
.ApiAlt5pay_pay .flex-between {
  justify-content: space-between;
}
@media(max-width:575px){
  .ApiAlt5pay_pay .flex-between{
    display:block;
    margin-left:0;
  }
}
.ApiAlt5pay_pay .number {
  color: #1b1b1b;
  font-size: 93px;
}

.ApiAlt5pay_pay .col2 {
  background: linear-gradient(90deg, #128c7e 0%, #25d366 100%);
}

.ApiAlt5pay_pay .col2 .number,
.ApiAlt5pay_pay .col2 p {
  color: #fff;
}
.ApiAlt5pay_pay .contentInput {
  background: #dddddd;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 100%;
}
.ApiAlt5pay_pay .contentInput #address {
  border: 0;
  background: transparent;
  color: #9d9d9d;
  cursor: pointer;
  width: 100%;
}
.ApiAlt5pay_pay .contentInput #copy {
  border: 0;
  background: transparent;
  color: #9d9d9d;
  cursor: pointer;
}

.ApiAlt5pay_pay .codeQr {
	height: 250px;
	padding-left: 50px;
}
@media(max-width:385px){
	.ApiAlt5pay_pay .codeQr {
		padding-left: 20px;
	}
}

.ApiAlt5pay_pay .title{
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size:50px ;
}

.ApiAlt5pay_pay .text-info{
	align-content: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:18px ;

}
.ApiAlt5pay_pay .text-info{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:18px ;
}
.ApiAlt5pay_pay  .title-steps-1{
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 36px;
  text-align: center;
}
@media(max-width:991px){
  .ApiAlt5pay_pay .title-steps-1{
    font-size: 30px;
  }
}
@media(max-width:575px){
  .ApiAlt5pay_pay .title-steps-1{
    text-align:center;
  }
}
.ApiAlt5pay_pay .flex-between{
	align-items: center;
}
@media(max-width:575px){
  .ApiAlt5pay_pay .flex-between{
    margin-left: 0;
  }
}

.ApiAlt5pay_pay .title-money{
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 36px;
	text-align: center;
}
.ApiAlt5pay_pay .subContent{
	width:100%;
	text-align: center;
}
.ApiAlt5pay_pay .flex{
	align-items: center;
	margin-left: 40px;
}
@media(max-width:575px){
  .ApiAlt5pay_pay .flex{
    margin-left:0;
  }
}


@media(max-width:575px){
  .ApiAlt5pay_pay .flex{
    margin-left: 0;
  }
}
.ApiAlt5pay_pay p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:18px ;
  font-weight: 500;
}
@media(max-width:991px){
  .ApiAlt5pay_pay p{
    font-size:14px ;
  }
}
.ApiAlt5pay_pay.ApiAlt5pay_pay .col50{
	align-items: flex-start;
}
.ApiAlt5pay_pay .content-imgInfo3{
	display: flex;
	align-items: center;
}
@media(max-width:991px){
  .ApiAlt5pay_pay .content-imgInfo3{
    flex-wrap:wrap;
  }
}
@media(max-width:575px){
  .ApiAlt5pay_pay .content-imgInfo3{
    min-width:100%;
    justify-content:center;
  }
}
.ApiAlt5pay_pay .content-imgInfo2{
  align-items:center;
	display: flex;
}
@media(max-width:991px){
  .ApiAlt5pay_pay .content-imgInfo2{
    flex-wrap:wrap
  }
}
@media(max-width:575px){
  .ApiAlt5pay_pay .content-imgInfo2{
    min-width:100%;
    justify-content:center;
  }
}
.ApiAlt5pay_pay .text-steps-2{
	margin: 10px;
}
.ApiAlt5pay_pay .text-steps-3{
	margin: 10px;
}
.ApiAlt5pay_pay  .text-info-1{
	text-decoration: underline;
		font-size: 18px;
}
.ApiAlt5pay_pay  .text-info-1{
	font-size: 18px;
	justify-content: left;
  font-weight: 500;
  
}
@media(max-width:991px){
  .ApiAlt5pay_pay  .text-info-1{
    font-size: 14px;
    justify-content: left;
    font-weight: 500;
  }
}
.ApiAlt5pay_pay.ApiAlt5pay_pay .direcc {
    flex-wrap: nowrap;
    margin-bottom:200px;
    font-weight: 500;
}
@media(max-width:767px){
  .ApiAlt5pay_pay.ApiAlt5pay_pay .direcc{
    margin-bottom:20px;
    margin-top:20px;
  }
}
@media(max-width:575px){
  .ApiAlt5pay_pay.ApiAlt5pay_pay .direcc{
    display:block;
    text-align:center;
    margin-left:0;
  }
}
.ApiAlt5pay_pay .subContent{
	background: #e6e6e6;
}
.ApiAlt5pay_pay .imgemail{
	height: 100px;
	width:120px;
}
@media(max-width:991px){
  .ApiAlt5pay_pay .imgemail{
    height:auto;
    width:auto;
  }
}
.ApiAlt5pay_pay .imgdiablo{
	height: 100px;
	width:120px;
}
@media(max-width:991px){
  .ApiAlt5pay_pay .imgdiablo{
    height:auto;
    width:auto;
  }
}

.ApiAlt5pay_pay .imgemail{
  margin-left: 15px;
   margin-right: 15px;
}
@media(max-width:991){
  .ApiAlt5pay_pay .imgemail{
    margin-left: 0;
     margin-right: 0;
  }
}
.ApiAlt5pay_pay .imgdiablo{
  margin-left: 15px;
   margin-right: 15px;
}
@media(max-width:991){
  .ApiAlt5pay_pay .imgdiablo{
    margin-left: 0;
     margin-right: 0;
  }
}
@media(max-width:575px){
  .ApiAlt5pay_pay .imgcripto{
    margin-bottom:10px;
  }
}
@media(max-width:575px){
  .ApiAlt5pay_pay .void{
    display:none;
  }
}
.ApiAlt5pay_pay .space{
  margin-top: 30px;
}
.ApiAlt5pay_pay .title-steps-2{
    margin-top: 30px;
}

.elementor-menu-cart__container.elementor-lightbox.elementor-menu-cart__container.elementor-lightbox.elementor-menu-cart__container.elementor-lightbox{
  display: none;
}
.ApiAlt5pay_pay  .pass-margin{
  margin-left: 0;
  
}
@media (min-width:992px) {
  .ApiAlt5pay_pay  .pass-margin{
    padding: 0 40px;
  } 
}